[submodule "modules/convert2pdf"]
	path = modules/convert2pdf
	url = https://github.com/ppppangu/convert2pdf_server.git
[submodule "modules/openmonica_sql"]
	path = modules/openmonica_sql
	url = https://github.com/ppppangu/openmonica_sql
[submodule "modules/OpenMonica_frontend"]
	path = modules/OpenMonica_frontend
	url = https://github.com/ppppangu/OpenMonica_frontend.git
[submodule "modules/OpenMonica_UserManagement"]
	path = modules/OpenMonica_UserManagement
	url = https://github.com/ppppangu/OpenManus_UserManagement.git
[submodule "modules/OpenMonica_main"]
	path = modules/OpenMonica_main
	url = https://github.com/ppppangu/OpenMonica_main.git
[submodule "modules/OpenMonica_fileserver"]
	path = modules/OpenMonica_fileserver
	url = https://github.com/ppppangu/OpenMonica_fileserver.git
